RubyTabulation_Project.acn
RubyTabulation_Project.acr
RubyTabulation_Project.alg
RubyTabulation_Project.aux
RubyTabulation_Project.bbl
RubyTabulation_Project.blg
RubyTabulation_Project.fdb_latexmk
RubyTabulation_Project.fls
RubyTabulation_Project.glg
RubyTabulation_Project.glo
RubyTabulation_Project.gls
RubyTabulation_Project.ist
RubyTabulation_Project.log
RubyTabulation_Project.out
RubyTabulation_Project.thm
